<% include partials/header.ejs %>
<h1 style="text-align: center;">Search weather cast</h1>

<form method="" action="/weather">
    <input type="text" placeholder="Search Term" name="search">
    <input type="submit">
</form>

<% include partials/footer.ejs %>